@mixin darkButtonHover {
  color: white;
  background-color: rgb(33, 37, 41);
}

@mixin textElements {
  font-size: 20px;
  font-weight: bold;
  color:rgb(33, 37, 41);
}

.cart {
  .small-cart {
    position: absolute;
    display: none;
    color: rgb(33, 37, 41);
    background-color: white;
    border-radius: 20px;
    td, th {
      margin: 10px 20px;
      border: 1px solid rgb(33, 37, 41);
      text-align: center;
      padding: 8px;
    }
  }
  &:hover{
    .small-cart{
      display: block;
    }
  }
}

body {
  font-family: 'Raleway', sans-serif;
}

img {
  width: 250px;
  display: block;
  margin: 20px auto;
  height: 200px;
}

button {
  border-radius: 28px;
  padding: 8px;
}

div {
  &.container-fluid {
    .addtocart {
      @include textElements();
      font-weight: normal;

      &:hover {
        @include darkButtonHover();
      }
    }

    .col-lg-3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;

      &>p {
        font-size: 22px;
      }
    }

    .reduce-qty,
    .increase-qty {
      padding: 7px 15px;
      @include textElements();
      margin: auto 10px;

      &:hover {
        @include darkButtonHover();
      }
    }

    .price {
      text-align: center;
      @include textElements();
    }

    input,
    .qty {
      @include textElements();
    }

    input {
      width: 60px;
      text-align: center;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }

    .qty {
      display: inline-block;
    }
  }

  &.intro {
    padding-top: 70px;
    padding-bottom: 90px;
    text-align: center;

    h1 {
      font-size: 60px;
    }

    p {
      padding-top: 80px;
      font-style: italic;
      font-size: 30px;
    }
  }
}