body{
    font-family: 'Raleway', sans-serif;
}
div{
    &.welcome{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    h1{
        text-align: center;
        font-size: 60px;
        padding: 10px;
    }
}