body {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

div.welcome {
  padding-top: 150px;
  padding-bottom: 150px;
}
div h1 {
  text-align: center;
  font-size: 60px;
  padding: 10px;
}
.welcome p{
  font-size: 40px;
}
h2{
  width: 50%;
  margin: 60px auto;
  padding: 50px 50px;
}
.contact{
  padding-top: 40px;
  text-align: center;
}
.contact .col-lg-4{
  margin: 50px auto;
  font-size: 25px;
  text-align: center;
  color: white;
}
.contact i{
  padding: 20px 20px;
}
.contact i:hover{
  background-color: white;
  color: #212529;
}

@media (max-width: 570px) {
  h2{
    width: 90%;
  }
}
